H1 {text-align: center;}

#body {background-color: lightyellow;}

#pizzabody {background-color: rgb(176, 139, 99);}

#coffeebody {background-color: rgb(176, 139, 150);}

#pizzabox {background-color: rgb(186, 165, 141);}
#pizzabox2 {background-color: rgb(200, 180, 141);}
#pizzabox3 {background-color: rgb(204, 187, 143);}

#coffeebox {background-color: rgb(204, 140, 143);}
#coffeebox2 {background-color: rgb(220, 140, 143);}

.normaltext {background-color: white;}
.centertext {text-align: center;
font-family: 'Brush Script MT',cursive;}
.textcenter {text-align: center;}